.side-navbar {
  width: 0px;
  height: 100vh;
  border-right: 1px solid #010326;
  position: fixed;
  overflow: hidden;
  z-index: 1;
  background: white;
  display: flex;
  flex-direction: column;
  transition: 0.4s;
}
.side-navbar .logo {
  display: flex;
}
.side-navbar .logo .Open {
  flex: 15%;
  padding: 10px;
}
.side-navbar .logo .Open .button {
  width: 40px;
  height: 40px;
  background: none;
  border: none;
  border-radius: 20px;
}
.side-navbar .logo .Open .button:hover {
  background: gray;
}
.side-navbar .logo .logo-tittle {
  flex: 25%;
}
.side-navbar .logo .logo-tittle .logo-btn {
  display: flex;
  background: none;
  border: none;
  margin-top: 10px;
}
.side-navbar .logo .logo-tittle .logo-btn .logo-pict {
  width: 50px;
  height: 30px;
  background: #337CCF;
  border-radius: 20px;
}
.side-navbar .logo .logo-tittle .logo-btn .logo-text {
  margin-top: 2px;
  margin-left: 5px;
  font-size: 18px;
  color: #010326;
  font-weight: bold;
  font-family: cursive;
}
.side-navbar .beranda .button {
  width: 100%;
  height: 40px;
  background: none;
  border: none;
  border-radius: 20px;
  display: flex;
  color: black;
}
.side-navbar .beranda .button:hover {
  background: gray;
}

.side-navbar-active {
  width: 200px;
  height: 100vh;
  border-right: 1px solid #010326;
  position: fixed;
  overflow: hidden;
  z-index: 1;
  background: white;
  display: flex;
  flex-direction: column;
  transition: 0.4s;
}
.side-navbar-active .logo {
  display: flex;
}
.side-navbar-active .logo .Open {
  flex: 15%;
  padding: 10px;
}
.side-navbar-active .logo .Open .button {
  width: 40px;
  height: 40px;
  background: none;
  border: none;
  border-radius: 20px;
}
.side-navbar-active .logo .Open .button:hover {
  background: gray;
}
.side-navbar-active .logo .logo-tittle {
  flex: 25%;
}
.side-navbar-active .logo .logo-tittle .logo-btn {
  display: flex;
  background: none;
  border: none;
  margin-top: 10px;
}
.side-navbar-active .logo .logo-tittle .logo-btn .logo-pict {
  width: 50px;
  height: 30px;
  background: #337CCF;
  border-radius: 20px;
}
.side-navbar-active .logo .logo-tittle .logo-btn .logo-text {
  margin-top: 2px;
  margin-left: 5px;
  font-size: 18px;
  color: #010326;
  font-weight: bold;
  font-family: cursive;
}
.side-navbar-active .beranda .button {
  width: 100%;
  height: 40px;
  background: none;
  border: none;
  border-radius: 20px;
  display: flex;
  color: black;
}
.side-navbar-active .beranda .button:hover {
  background: gray;
}

.top-navbar {
  display: flex;
  justify-content: space-around;
}
.top-navbar .logo {
  flex: 25%;
  padding: 10px;
  display: flex;
}
.top-navbar .logo .Open {
  flex: 25%;
  padding: 10px;
}
.top-navbar .logo .Open .button {
  width: 40px;
  height: 40px;
  background: none;
  border: none;
  border-radius: 20px;
}
.top-navbar .logo .Open .button:hover {
  background: gray;
}
.top-navbar .logo .logo-tittle {
  flex: 50%;
  padding: 10px;
}
.top-navbar .logo .logo-tittle .logo-btn {
  width: 140px;
  height: 40px;
  background: none;
  border: none;
  display: flex;
  cursor: pointer;
}
.top-navbar .logo .logo-tittle .logo-btn .logo-pict {
  width: 50px;
  height: 30px;
  background: #337CCF;
  border-radius: 20px;
}
.top-navbar .logo .logo-tittle .logo-btn .logo-text {
  margin-top: 2px;
  margin-left: 5px;
  font-size: 18px;
  color: #010326;
  font-weight: bold;
  font-family: cursive;
}
.top-navbar .search {
  flex: 50%;
  padding: 10px;
}
.top-navbar .before-login {
  flex: 25%;
  padding: 10px;
  display: flex;
  justify-content: flex-end;
}
.top-navbar .before-login .last {
  margin-top: 10px;
}
.top-navbar .after-login {
  flex: 25%;
  padding: 10px;
  display: flex;
  justify-content: flex-end;
}
.top-navbar .after-login .last {
  margin-top: 5px;
}
.top-navbar .after-login .last .last-upload {
  width: 40px;
  height: 40px;
  background: none;
  border: none;
  border-radius: 20px;
  color: black;
  margin-right: 5px;
}
.top-navbar .after-login .last .last-upload:hover {
  background: gray;
}
.top-navbar .after-login .last .last-Notif {
  width: 40px;
  height: 40px;
  background: none;
  border: none;
  border-radius: 20px;
  color: black;
  margin-right: 5px;
}
.top-navbar .after-login .last .last-Notif:hover {
  background: gray;
}
.top-navbar .after-login .last .notif-box {
  width: 0px;
  height: 300px;
  border: 1px solid #010326;
  position: fixed;
  transform: translateX(-35%);
  border-radius: 20px;
  display: none;
}
.top-navbar .after-login .last .notif-box-active {
  width: 200px;
  height: 300px;
  border: 1px solid #010326;
  position: fixed;
  transform: translateX(-35%);
  border-radius: 20px;
  display: flex;
}
.top-navbar .after-login .last .last-Profile {
  width: 40px;
  height: 40px;
  background: none;
  border: none;
  border-radius: 20px;
  color: black;
  margin-right: 5px;
}
.top-navbar .after-login .last .last-Profile:hover {
  background: gray;
}
.top-navbar .after-login .last .profile-box {
  width: 0px;
  height: 300px;
  border: 1px solid #010326;
  position: fixed;
  transform: translateX(-35%);
  border-radius: 20px;
  display: none;
}
.top-navbar .after-login .last .profile-box-active {
  width: 200px;
  height: 300px;
  border: 1px solid #010326;
  position: fixed;
  transform: translateX(-35%);
  border-radius: 20px;
  transition: 1s;
  display: flex;
  overflow: hidden;
}
.top-navbar .after-login .last .profile-box-active .profile-box-list {
  width: 100%;
}
.top-navbar .after-login .last .profile-box-active .profile-box-list .profile-box-flex {
  display: flex;
  flex-wrap: wrap;
}
.top-navbar .after-login .last .profile-box-active .profile-box-list .profile-box-flex .name {
  flex: 50%;
  padding: 10px;
  text-align: center;
}
.top-navbar .after-login .last .profile-box-active .profile-box-list .profile-box-flex .name img {
  width: 50px;
  height: 50px;
  border-radius: 25px;
}
.top-navbar .after-login .last .profile-box-active .profile-box-list .profile-box-flex .list {
  flex: 100%;
  padding: 10px;
}
.top-navbar .after-login .last .profile-box-active .profile-box-list .profile-box-flex .list .button {
  width: 100%;
  background: #F2594B;
  border: none;
  margin-top: 8px;
}
.top-navbar .after-login .last .profile-box-active .profile-box-list .profile-box-flex .list .button:hover {
  background: #010326;
  transition: 1s;
}

.search-side {
  display: none;
}

@media screen and (max-width: 576px) {
  .top-navbar .logo .logo-tittle {
    display: none;
  }
  .search {
    display: none;
  }
  .search-side {
    display: flex;
  }
}
@media screen and (max-width: 768px) {
  .search {
    display: none;
  }
  .search-side {
    display: flex;
  }
}
.form-container {
  background: linear-gradient(45deg, #33BBC5, #D0BFFF);
  font-family: "Roboto", sans-serif;
  font-size: 0;
  padding: 0 15px;
  border: 1px solid #33BBC5;
  border-radius: 15px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  width: 500px;
}

.form-container .form-icon {
  color: #fff;
  font-size: 13px;
  text-align: center;
  text-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  width: 50%;
  padding: 70px 0;
  vertical-align: top;
  display: inline-block;
}

.form-container .form-icon .signup a {
  color: #fff;
  text-transform: capitalize;
  transition: all 0.3s ease;
}

.form-container .form-icon .signup a:hover {
  text-decoration: underline;
}

.form-container .form-horizontal {
  background: rgba(255, 255, 255, 0.99);
  width: 50%;
  padding: 60px 30px;
  margin: -20px 0;
  border-radius: 15px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  display: inline-block;
}

.form-container .title {
  color: #454545;
  font-size: 23px;
  font-weight: 900;
  text-align: center;
  text-transform: capitalize;
  letter-spacing: 0.5px;
  margin: 0 0 30px 0;
}

.form-horizontal .form-group {
  background-color: rgba(255, 255, 255, 0.15);
  margin: 0 0 15px;
  border: 1px solid #b5b5b5;
  border-radius: 20px;
}

.form-horizontal .input-icon {
  color: #b5b5b5;
  font-size: 15px;
  text-align: center;
  line-height: 38px;
  height: 35px;
  width: 40px;
  vertical-align: top;
  display: inline-block;
}

.form-horizontal .form-control {
  color: #b5b5b5;
  background-color: transparent;
  font-size: 14px;
  letter-spacing: 1px;
  width: calc(100% - 55px);
  height: 33px;
  padding: 2px 10px 0 0;
  box-shadow: none;
  border: none;
  border-radius: 0;
  display: inline-block;
  transition: all 0.3s;
}

.form-horizontal .form-control:focus {
  box-shadow: none;
  border: none;
}

.form-horizontal .form-control::-moz-placeholder {
  color: #b5b5b5;
  font-size: 13px;
  text-transform: capitalize;
}

.form-horizontal .form-control::placeholder {
  color: #b5b5b5;
  font-size: 13px;
  text-transform: capitalize;
}

.form-horizontal .btn {
  color: rgba(255, 255, 255, 0.8);
  background: #F2594B;
  font-size: 15px;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 1px;
  width: 100%;
  margin: 0 0 10px 0;
  border: none;
  border-radius: 20px;
  transition: all 0.3s ease;
}

.form-horizontal .btn:hover,
.form-horizontal .btn:focus {
  color: #fff;
  background-color: #33BBC5;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}

.form-horizontal .forgot-pass {
  font-size: 12px;
  text-align: center;
  display: block;
}

.form-horizontal .forgot-pass a {
  color: #999;
  transition: all 0.3s ease;
}

.form-horizontal .forgot-pass a:hover {
  color: #777;
  text-decoration: underline;
}

.CnLogin {
  height: 75vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cnReg {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media only screen and (max-width: 576px) {
  .form-container {
    padding-bottom: 15px;
    width: 300px;
  }
  .form-container .form-icon {
    width: 100%;
    padding: 20px 0;
  }
  .form-container .form-horizontal {
    width: 100%;
    margin: 0;
  }
  .CnLogin {
    height: 100vh;
  }
  .cnReg {
    height: 100vh;
  }
}
.for-profile {
  width: 150px;
  height: 150px;
  background: white;
  border-radius: 100px;
  margin-left: 19%;
}
.for-profile img {
  width: 100px;
  margin-top: 20px;
}

/*======================
    404 page
=======================*/
.page_404 {
  padding: 40px 0;
  background: #fff;
  font-family: "Arvo", serif;
}

.page_404 img {
  width: 100%;
}

.four_zero_four_bg {
  background-image: url(https://cdn.dribbble.com/users/285475/screenshots/2083086/dribbble_1.gif);
  height: 400px;
  background-position: center;
}

.four_zero_four_bg h1 {
  font-size: 80px;
}

.four_zero_four_bg h3 {
  font-size: 80px;
}

.link_404 {
  color: #fff !important;
  padding: 10px 20px;
  background: #33BBC5;
  margin: 20px 0;
  display: inline-block;
}

.contant_box_404 {
  margin-top: -50px;
}

.Profile {
  height: 50vh;
  display: flex;
  justify-content: center;
}

.List-Upload {
  height: 100vh;
}
.List-Upload .videobox {
  display: flex;
  flex-wrap: wrap;
}
.List-Upload .videobox .card-video {
  margin-left: 10px;
  margin-top: 10px;
  transition: 1s;
}
.List-Upload .videobox .card-video .content-card {
  width: 100%;
  height: 300px;
}
.List-Upload .videobox .card-video .content-card .videoCN {
  display: none;
}
.List-Upload .videobox .card-video:hover {
  overflow: hidden;
}
.List-Upload .videobox .card-video:hover .videoCN {
  display: flex;
  height: 200px;
}
.List-Upload .videobox .card-video:hover .imgCN {
  display: none;
}
.List-Upload .videobox .card-video:hover .bodycard {
  display: flex;
  align-items: flex-end;
}

@media screen and (max-width: 576px) {
  .List-Upload {
    margin-top: 50px;
  }
  .videobox {
    justify-content: center;
  }
}
@media screen and (max-width: 768px) {
  .List-Upload {
    margin-top: 50px;
  }
  .videobox {
    justify-content: center;
  }
}
@media screen and (max-width: 1024px) {
  .List-Upload {
    margin-top: 50px;
  }
  .videobox {
    justify-content: center;
  }
}
.profile-card-3 {
  font-family: "Open Sans", Arial, sans-serif;
  position: relative;
  float: left;
  overflow: hidden;
  width: 100%;
  text-align: center;
  height: 368px;
  border: none;
}

.profile-card-3 .background-block {
  float: left;
  width: 100%;
  height: 200px;
  overflow: hidden;
}

.profile-card-3 .background-block .background {
  width: 100%;
  vertical-align: top;
  opacity: 0.9;
  filter: blur(0.5px);
  transform: scale(2.8);
}

.profile-card-3 .card-content {
  width: 100%;
  padding: 15px 25px;
  color: #232323;
  float: left;
  background: #efefef;
  height: 50%;
  border-radius: 0 0 5px 5px;
  position: relative;
  z-index: 9999;
}

.profile-card-3 .card-content::before {
  content: "";
  background: #efefef;
  width: 120%;
  height: 100%;
  left: 11px;
  bottom: 51px;
  position: absolute;
  z-index: -1;
  transform: rotate(-13deg);
}

.profile-card-3 .profile {
  border-radius: 50%;
  position: absolute;
  bottom: 50%;
  left: 50%;
  max-width: 100px;
  opacity: 1;
  box-shadow: 3px 3px 20px rgba(0, 0, 0, 0.5);
  border: 2px solid rgb(255, 255, 255);
  transform: translate(-50%, 0%);
  z-index: 99999;
}

.form-Upload {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  height: 80vh;
}
.form-Upload .form {
  width: 50%;
}

.main-watch {
  height: 100vh;
  display: flex;
  flex-wrap: wrap;
}
.main-watch .watch-video {
  flex: 70%;
  padding: 20px;
  display: flex;
  flex-direction: column;
}
.main-watch .watch-video .content-video {
  flex: 50%;
  padding: 10px;
  background: black;
}
.main-watch .watch-video .content-profile {
  flex: 50%;
  padding: 10px;
}
.main-watch .watch-video .content-profile .profile-content {
  width: 100%;
}
.main-watch .watch-video .content-profile .profile-content .profile-flex {
  display: flex;
}
.main-watch .watch-video .content-profile .profile-content .profile-flex .profile-pict {
  flex: 5%;
}
.main-watch .watch-video .content-profile .profile-content .profile-flex .profile-pict .pict-box {
  width: 50px;
  height: 50px;
  border-radius: 25px;
  background: grey;
}
.main-watch .watch-video .content-profile .profile-content .profile-flex .profile-pict .pict-box img {
  width: 50px;
  height: 50px;
  border-radius: 25px;
}
.main-watch .watch-video .content-profile .profile-content .profile-flex .profile-sub {
  flex: 90%;
}
.main-watch .watch-video .content-profile .profile-content .profile-flex .profile-sub a {
  text-decoration: none;
  font-weight: bold;
  color: black;
}
.main-watch .watch-video .content-profile .Profile-Desc {
  width: 100%;
  background: gainsboro;
  border-radius: 20px;
  padding: 10px;
  transition: 1s;
}
.main-watch .watch-video .content-profile .Profile-Desc:hover {
  background: black;
  color: white;
}
.main-watch .watch-side {
  flex: 5%;
  padding: 20px;
  background: white;
}
.main-watch .watch-side .card-video .card-content {
  height: 150px;
  background: brown;
  overflow: hidden;
}/*# sourceMappingURL=main.css.map */